.main__background {
  background: url("../../assets/background.jpg") no-repeat;
  background-color: var(--darkGray);
  background-blend-mode: soft-light;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  min-height: calc(100vh - 74px);
}
