.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-hero {
  border: 1px solid var(--accent);
  border-radius: 0.4em;
  background-color: var(--accent);
  color: var(--lightAccent);
  font-size: 1.4rem;
  filter: drop-shadow(0px 4px 4px var(--darkAccent));
  font-family: oswald;
}
