.row {
  display: flex;
}

.col + .col {
  margin-left: 3rem;
}

.da-center {
  align-items: center;
  justify-content: center;
}

.dv-center {
  align-items: center;
}

.d-column {
  flex-direction: column;
}

