@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --black: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
  --accent: rgb(71, 68, 68);
  --darkAccent: rgb(54, 54, 54);
  --lightAccent: rgb(242, 242, 242);
  --gray: rgb(130, 130, 130);
  --darkGray: rgb(79, 79, 79);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.col + .col {
  margin-left: 0;
}

