.main-content {
  justify-content: center;
  padding-top: 10%;
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--lightAccent);
  color: var(--lightAccent);
  font-size: 1.6rem;
  padding: 0 1rem;
  min-width: 300px;
}

.search-icon {
  border-bottom: 1px solid var(--lightAccent);
}

.search__select-country {
  height: 50px;
  font-size: 1.4rem;
  width: 300px;
  color: var(--lightAccent);
  background-color: var(--darkAccent);
  border: 0;
  margin: auto;
}

.search-custom__select {
  position: relative;
  margin: 0 0 5rem;
}

.search-input:focus,
.search__select-country {
  outline: none;
  box-shadow: 0 0 1px 1px transparent;
}

.results-lists {
  list-style: none;
  padding: 0;
  padding: 0.3em 0;
  text-align: center;
}

.results-text {
  color: var(--lightAccent);
  text-decoration: none;
}

.results-text:hover {
  text-decoration: underline;
}
