.main-content {
  justify-content: center;
  padding-top: 15%;
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--lightAccent);
  color: var(--lightAccent);
  font-size: 1.6rem;
  padding: 0 1rem;
}

.search-icon {
  border-bottom: 1px solid var(--lightAccent);
}

.search__select-country {
  height: 50px;
  font-size: 1.4rem;
  width: 300px;
  color: var(--lightAccent);
  background-color: var(--darkAccent);
  border: 0;
  margin: auto;
}

.search-custom__arrow {
  position: absolute;
  right: calc(50% - 150px);
  bottom: 0;
  top: 0;
  display: block;
  background-color: var(--lightAccent);
  width: 3rem;
  pointer-events: none;
}

.search-custom__arrow::after {
  content: "";
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-top: 0.7em solid var(--gray);
  top: 65%;
}

.search-custom__arrow::before {
  content: "";
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-bottom: 0.7em solid var(--gray);
  top: 35%;
}

.search-custom__arrow::after,
.search-custom__arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}

.search-custom__select {
  position: relative;
  margin: 0 0 5rem;
}

.search-input::focus {
  outline: none;
  box-shadow: 0 0 1px 1px transparent;
}
