.main-content {
  padding: 10% 1em 0 1em;
}

.hero-toplist {
  flex: 1;
}

.hero-intro {
  flex: 1;
}

.hero__title {
  text-align: right;
}

.hero-text {
  text-align: right;
  color: var(--lightAccent);
}

.hero-text__intro {
  line-height: 1.6;
}

.hero-text__title {
  line-height: 1.2;
}

.hero-btn {
  float: right;
}
