.main {
  background: url("../assets/background.jpg") no-repeat;
  background-color: #4f4f4f;
  background-blend-mode: multiply;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  height: calc(100vh - 74px);
}
