.main-content {
  padding: 2% 2em 0 2em;
}

.hero-intro {
  margin-bottom: 8rem;
}

.hero__title {
  text-align: center;
}

.hero-text {
  text-align: center;
  color: var(--lightAccent);
}

.hero-text__intro {
  line-height: 1.6;
}

.hero-text__title {
  line-height: 1.2;
}

.hero-btn {
  float: right;
}

.mostlistened-container {
  padding: 0;
}

.mostlistened-container-list {
  font-size: 0.7rem;
  list-style: none;
  height: 50px;
  background-color: var(--lightAccent);
  filter: drop-shadow(0px 4px 4px var(--darkAccent));
  text-decoration: none;

  margin-top: 1em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mostlistened-container-list:hover {
  opacity: 0.8;
}

.mostlistened__play {
  color: var(--darkAccent);
}

.mostlistened__item {
  justify-content: space-between;
}

.mostlistened__radio-name {
  color: var(--darkAccent);
  font-size: 10px;
  text-transform: capitalize;
  width: 5rem;
}

.mostlistened__rate {
  color: var(--gray);
}

.mostlistened__country {
  color: var(--gray);
  width: 5rem;
}

.mostlistened-row__line {
  position: relative;
  min-width: 300px;
}

.mostlistened__line {
  color: var(--lightAccent);
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom: 35%;
  right: 25%;
  height: 5px;
  padding-left: 0.5rem;
}

@media (min-width: 900px) {
  .main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .hero-toplist {
    width: 45%;
  }
  .hero-intro {
    width: 45%;
    margin-bottom: 0;
  }
  .mostlistened-container-list {
    font-size: 1rem;
  }
}
