.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.player-radio__info {
  color: var(--lightAccent);
  font-size: 0.7rem;
  width: 350px;
}

.player-item + .player-item {
  margin-top: 1em;
}

.player-item {
  display: flex;
  justify-content: space-between;
}

.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.key {
  margin-right: 1.5rem;
}

.link {
  color: currentColor;
}

.paused {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid var(--gray);
  transform: translateX(10%) rotate(90deg);
}

.player-audio__custom {
  position: relative;
  background-color: var(--darkAccent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  z-index: 2;
}

.player-audio__station-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  display: block;
}

.player-audio__custom-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.player-audio__custom-streamline {
  position: absolute;
  width: 50%;
  bottom: 38%;
  color: rgba(172, 172, 172, 0.25);
  text-align: center;
  margin-left: 25%;
}

.player-audio__actions {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .player {
    flex-direction: initial;
    justify-content: center;
  }
  .player-radio__image {
    align-self: center;
    margin-right: 2rem;
  }
  .player-radio__info {
    font-size: 1.25rem;
  }

  .player-audio__station-img {
    margin: 0 auto;
  }
}
