.header {
  background-color: var(--darkAccent);
  height: 74px;
  font-family: oswald;

  display: flex;
  align-items: center;
}

.header__text-color {
  color: var(--light);
}

.logo {
  flex: 1;
  margin-left: 2em;
}

nav {
  margin-right: 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-list__link + .nav-list__link {
  margin-left: 1rem;
}

.nav-list__link {
  text-decoration: none;
  color: currentColor;
}

.nav-list__link::after {
  content: "";
  display: block;
  max-width: 0;
  height: 2px;
  background-color: var(--lightAccent);
  transition: max-width 300ms ease;
}

.nav-list__link:hover::after {
  max-width: 80px;
}
