.favourite-list {
  width: 100%;
  margin: auto;
}

.favourite-title {
  padding-top: 3rem;
  margin: 0;
  text-align: center;
}

.favourite__no-favourites {
  color: var(--lightAccent);
  font-size: 0.9rem;
  text-align: center;
}

.favourite-link {
  padding: 0 0.5em;
}

@media (min-width: 900px) {
  .favourite-list {
    width: 60%;
  }
}
